  <div class='owl-carousel carousel1 owl-theme w-full max-w-3xl mt-16 mb-11'>
    <!-- Carousel Items (Repeat the structure) -->
    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='{{image}}'
          alt='{{name}}'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>{{name}}</h2>
          <p>Racial Ability: {{racial_ability}}<br>
          Bonus: {{racial_bonus}}<br>
          Negative: {{racial_neg}}<br>
          Attack Prowess: {{attack_prowess}}<br>
          Defense Prowess: {{defense_prowess}}</p>
        </div>
      </div>
    </div>


