
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
</head>
    <!-- Grid Container -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4 md:m-12 mt-16">
        <!-- Carousel Container -->
        <div class="owl-carousel carousel1 owl-theme w-full max-w-3xl mt-16 mb-11">
            <!-- Carousel Items (Repeat the structure) -->
            {{#each races as |race|}}
            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/{{race.image}}" alt="{{race.name}}" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">{{race.name}}</h2>
                        <p>racial bonus - {{race.racial_bonus}}</p>
                        <p>racial neg - {{race.racial_negs}}</p>
                        <p>racial ability - {{race.racial_ability}}</p>
                        <p>starting level - {{race.starting_level}}</p>
                        <p>hp bonus - {{race.hp_bonus}}</p>
                        <p>starting jinx - {{race.starting_jinx}}</p>
                        <p>attack prowess - {{race.attack_prowess}}</p>
                        <p>defense prowess - {{race.defense_prowess}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <!-- Paragraph Container -->
        <div class="custom-paragraph p-6 mb-11 pb-11 md:order-first text-center flex items-center flex-col justify-center">
            <h1 class="title text-4xl font-bold mb-6">memoria the Protectors </h1>
            <p>
                 The story of the protector goes back to the days of early Memoria. A
                prophecy handed down by a secret Order of Two-Leaves foretold of the first
                protector Tratt. That was long before the Hall of Protectors was formed by
                King Gregland. After Cataclsym, when several worlds came together in the
                Great Merge the Protectors were needed more than ever. The Hall of
                Protectors is always looking for new talent. And with the world so close
                to peace it wont be long before the agents of The Darkness, The Forsaken
                rise from the shadows again.
                <br /><br />
                Will you be a Swashbuckling Elv from the Swamps of Zadora? A novice
                gunslinger from the dusty town Bradenton? A down on his luck Gladiator
                from the stone streets of Ziun-Shao? Or possibly a Soldier in the Sapphire
                Legion sworn to defend Capital City? With varied options for Race, Origin,
                Focus, and Stats your build can be as unique as you. So remember, Choose
                Wisely!
            </p>
        </div>
    </div>
<span class="relative flex justify-center pt-16 mt-16">
  <div
    class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"
  ></div>

</span>

            <h1 id="about" class="title text-4xl font-bold  mt-16 mb-6 pt-16">About</h1>



        <div class="custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto">
            <h1 class="title text-4xl font-bold  mt-16 mb-6">Character builder</h1>
            <h2>Stats - You have 15 points to assign as you see fit. (Average human has a 2 in each category)</h2>
            <ul>
                <li>Strength: Strength is added to the damage of all Melee Attacks. There
                may also be additional checks based on Strength</li>
                <li>Reflex: added to the damage of all Ranged Attacks. Certain acrobatic
                manuevers may also require this.</li>
                <li>Fortitude: reduces the amount of damage you take and adds . A damage
                modifier. Certain phsyical checks also depend on this.</li>
                <li>Intelligence: added to the damage of all Magic Attacks. Capacity to gain
                knowledge, understand complex situations, and how NPCs engage with you.</li>
                <li>Charisma: added to all Luck, Influence, and Seduce Rolls. NPCs and
                others will interact with you differently depending on this number.</li>

            </ul>

            <p>HP stands for Hit Points. That total number of points your character has.
                Once those are depleted the character is unconscious at HP 0 and fully dead
                at HP of -10. Every protector starts out with a Base of D20 HP (Re-Rolling
                anything under 10). Every level allows you to roll another D20 to add to
                your existing HP pool.</p>

            <h2>Roll Types</h2>
            <ul>
                <li>
                <span class='dice'>⚅</span>Attack Roll: This is a roll of dice (determined
                by Attack Prowress). An opponent would roll a Defense Roll to see if you
                are succesful!</li>
                <li><span class='dice'>⚅</span>Defense Roll: This is a roll of dice
                (determined by Defense Prowress). You would need to beat an opponenets
                Attack Roll or Critically Defend in order to avoid being hit</li>
                <li><span class='dice'>⚅</span>Chance/Luck/Seduction Roll: Sometimes in game
                there are things you would like to accomplish that is outside the scope of
                standard Rolls. That's where chance Rolls come in. The DM will assign a
                value 1-100 for success. You roll Percentiles (2 D10s) for success or
                failure. Same for any diplomatic, influence, or seduction checks!</li>
                <li><span class='dice'>⚅</span>Saving Rolls: Some actions require saves. For
                Instance, Poison, Mind Altering Effects, or even Magic. These are based on
                standard D20 plus applicable bonus(s).</li>
            </ul>
        </div>


    <div class="col-span-2 md:col-span-1 flex justify-center items-center p-4">
        <!-- Carousel Container -->
        <div class="owl-carousel carousel4 owl-theme w-full max-w-3xl mt-16">
            <!-- Carousel Items (Repeat the structure) -->

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Dwarn.jpg" alt="Dwarn" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Nightshade</h2>
                        <ul class="list-disc pl-4 mb-2">
                            <li>Race: Dwarn</li>
                            <li>Origin: Eye</li>
                            <li>Focus: Body</li>
                         </ul>
                        <p>character background info...</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Elves.JPG" alt="Elves" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Twilightscale</h2>
                         <ul class="list-disc pl-4 mb-2">
                            <li>Race: Elv</li>
                            <li>Origin: Mind</li>
                            <li>Focus: water</li>
                         </ul>
                        <p>character background info...</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Humans.jpg" alt="Humans" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Crystalwing</h2>
                           <ul class="list-disc pl-4 mb-2">
                            <li>Race: Humans</li>
                            <li>Origin: Divine</li>
                            <li>Focus: light</li>
                         </ul>
                        <p>character background info...</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md ">
                    <img src="../assets/images/races/Musculus.JPG" alt="Musculus" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Drizzlethorn</h2>
                          <ul class="list-disc pl-4 mb-2">
                            <li>Race: Musculus</li>
                            <li>Origin: Body</li>
                            <li>Focus: body</li>
                         </ul>
                        <p>character background info...</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <span class="relative flex justify-center pt-16 mt-16">
  <div
    class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"
  ></div>
</span>


            <div class="custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto">
            <h1 class="title text-4xl font-bold  mt-16 mb-6">Focus</h1>
            <p>
            Start by picking a single Focus.  You start with 2 powers plus any that may be given to you by Race or Origin.
            </p>
            </div>

<div class="col-span-2 md:col-span-1 flex justify-center items-center p-4">
    <!-- Carousel Container -->
    <div class="owl-carousel carousel3 owl-theme w-full max-w-3xl mt-16 p-5">
        <!-- Carousel Items (Repeat the structure) -->

        <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">Unfocused</h2>
                         <div class="w-25 h-25 rounded-full mb-4"><img src="../assets/images/focus/unfocused.jpg" alt="aa"></div>
                        <ul class="list-disc pl-4 mb-2">
                            <li class="py-6 px-3 text-center">Sustenance: No longer requires eating or drinking</li>
                <li class="py-6 px-3 text-center">First Strike: Can attack first withot initiative. Turn order then clockwise that turn</li>
                         </ul>
                    </div>
                </div>
            </div>

                    <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">Air</h2>
                         <div class="w-25 h-25 rounded-full mb-4"><img src="../assets/images/focus/air.JPG" alt="aa"></div>
                        <ul class="list-disc pl-4 mb-2">
                            <li class="py-6  px-3 text-center">Aerokinesis: Manipulate air to create various weather phenomena such as wind, rain, and minor undirected lightning. </li>
                <li class="py-6 px-3 text-center">Negate Fall: Use the Air Below to negate standard fall damage.</li>
                         </ul>
                    </div>
                </div>
            </div>

             <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">Light</h2>
                         <div class="w-25 h-25 rounded-full mb-4"><img src="../assets/images/focus/lightning.jpg" alt="aa"></div>
                         <ul class="list-disc pl-4 mb-2">
                             <li class="py-6 px-3 text-center">Light Strike: Generate and Manipulate concentrated Beams of Light Energy that can be thrown. </li>
                <li class="py-6 px-3 text-center">Shield of Light: Create a field of Light Energy that can deflect or absorb incoming attacks.</li>
                         </ul>
                    </div>
                </div>
            </div>

             <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">Fire</h2>
                         <div class="w-25 h-25 rounded-full mb-4"><img src="../assets/images/focus/fire.png" alt="aa"></div>
                           <ul class="list-disc pl-4 mb-2">
                            <li class="py-6 px-3 text-center">Combustion: Able to power small Combustion or Steam devices/engines.  </li>
                <li class="py-6 px-3 text-center">Pyrokinetic Strike: Project bursts of fire from Hands or Eyes (must choose one option when gained and it cannot be changed)</li>
                         </ul>
                    </div>
                </div>
            </div>

         <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">Mind</h2>
                         <div class="w-25 h-25 rounded-full mb-4"><img src="../assets/images/focus/mind.jpg" alt="aa"></div>
                          <ul class="list-disc pl-4 mb-2">
                           <li class="py-6 px-3 text-center">Allied Influence: Absorb the Power of another Protector by Touch. Only 1 Power is retained at a time. </li>
                <li class="py-6 px-3 text-center">Ward of Protection: Summon a transparent gem-shaped Shield that will take damage. </li>
                         </ul>
                    </div>
                </div>
            </div>
                         <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">Body</h2>
                         <div class="w-25 h-25 rounded-full mb-4"><img src="../assets/images/focus/Body.jpg" alt="aa"></div>
                           <ul class="list-disc pl-4 mb-2">
                            <li class="py-6 px-3 text-center">Relection: Reflect a target's attack back to them.  Acts as Attack of Opportunity towards target.  </li>
                <li class="py-6 px-3 text-center">Boomerang: Your thrown weapon will return back to you much like a boomerang.</li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>



<span class="relative flex justify-center py-11 mt-16">
  <div
    class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"
  ></div>
</span>


<div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 p-16 my-16">

    <div class="lg:col-span-1 lg:self-center">
        <div class="custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto">
            <h1 class="title text-4xl font-bold mt-16 mb-6">Origin</h1>
            <p>
                Basically every person has an origin.  Whether your past was mainly built by using strenght it would be body, more mental accutity it would be mind, it would be spiritul divine, and the eye is for like eye hand coordination.  These shape our character by giving them a starting package that will generally work and then shape their future by givinging them a new advantage every level.
7:10
Focus are powers bestowed by the Flame himself
            </p>
        </div>
    </div>

    <div class="col-span-2 md:col-span-1 flex justify-center items-center p-4">
    <!-- Carousel Container -->
    <div class="owl-carousel carousel2 owl-theme w-full max-w-3xl mt-16 p-5">
        <!-- Carousel Items (Repeat the structure) -->
        {{#each origins as |origin|}}
            <div class="item transition-transform transform m-2 transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2 p-2 text-center">{{origin.name}}</h2>
                            <div class="w-12 h-12 bg-gray-300 rounded-full mb-4"></div>
                        <ul class="list-disc pl-4 mb-2">
                            <li class="p-5 text-center">level 1 adv - {{origin.level_1_advantage}}</li>
                            <li class="p-5 text-center">weapon proficiency - {{origin.weapon_proficiency}}</li>
                            <li class="p-5 text-center">starting package - {{origin.starting_package}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
    </div>
</div>

   <span class="relative flex justify-center pt-16 mt-16">
  <div
    class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"
  ></div>
</span>



            <h1 id="team" class="title text-4xl font-bold  mt-16 mb-6 pt-16">Team</h1>



        <div class="custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto">
            <h1 class="title text-4xl font-bold  mt-16 mb-6">Mision</h1>
            <p >
                Our mission with this website was to help bring Ryans idea to life 
                and create a hub to spread the excitement that is memoria the protectors. 
                This website provides people with the tools, rules, and lore necessary so they can get playing.
            </p>
        </div>

        
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 p-16 m-3 my-16 ">
    <!-- Card 1 -->
    <div class="h-auto rounded-lg bg-gray-200 p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
        <h2 class="text-xl font-semibold my-11 ">Luis Florez</h2>
        <div class="w-40 h-40  rounded-full mb-4 mx-auto"><img src="../assets/images/webpage/T05G4TQ5Y01-U05MSFK2ZH8-a8de702568f3-512.jpg" alt="luisflorez"></div>
        <h3 class="text-lg font-medium mb-2 text-left">Tasks Done:</h3>
        <ol class="list-decimal pl-4 mb-4 text-left">
            <li class="p-2 text-center">Page Design ( handlebars, Tailwind CSS and OWL.carousel )</li>
            <li class="p-2 text-center">support Static Javascript </li>
            <li class="p-2 text-center">debugging Routes and public Javascript</li>
        </ol>
        <div class="flex items-center space-x-2 justify-center">
            <!-- Replace these icons with your actual icons -->
 <div class="flex items-center space-x-2 justify-center">
    <!-- Email icon -->
    <a href="mailto:florezf90@gmail.com" class="w-6 h-6 bg-blue-500 rounded-full flex items-center justify-center text-white">
        <i class="fas fa-envelope"></i>
    </a>

    <!-- GitHub icon -->
    <a href="https://github.com/florezf90" class="w-6 h-6 bg-green-500 rounded-full flex items-center justify-center text-white">
        <i class="fab fa-github"></i>
    </a>
</div>

        </div>
    </div>

    <!-- Card 2 -->
    <div class="h-auto rounded-lg bg-gray-200 p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
        <h2 class="text-xl font-semibold my-11">Noah Lara</h2>
        <div class="w-40 h-40  mb-4 mx-auto"> <img src="../assets/images/webpage/piggyz.jpg" alt=""></div>
        <h3 class="text-lg font-medium mb-2 text-left">Tasks Done:</h3>
        <ol class="list-decimal pl-4 mb-4 text-left">
            <li class="p-2 text-center">Most of application Routes</li>
            <li class="p-2 text-center"> Designed Static javascript--</li>
            <li class="p-2 text-center">Desgined models and Seed debugging</li>
        </ol>
        <div class="flex items-center space-x-2 justify-center">
            <!-- Replace these icons with your actual icons -->
<div class="flex items-center space-x-2 justify-center">
    <!-- Email icon -->
    <a href="mailto:n_lara01@yahoo.com" class="w-6 h-6 bg-blue-500 rounded-full flex items-center justify-center text-white">
        <i class="fas fa-envelope"></i>
    </a>

    <!-- GitHub icon -->
    <a href="https://github.com/N-lara" class="w-6 h-6 bg-green-500 rounded-full flex items-center justify-center text-white">
        <i class="fab fa-github"></i>
    </a>
</div>

        </div>
    </div>

    <!-- Card 3 -->
    <div class="h-auto rounded-lg bg-gray-200 p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-gray-700 transition-all duration-300">
        <h2 class="text-xl font-semibold my-11">Ryan Fann</h2>
        <div  class="w-40 h-40 bg-gray-300 rounded-full mb-4 mx-auto"><img src="../assets/images/webpage/headshot-80sback.png" alt="ryann"></div>
        <h3 class="text-lg font-medium mb-2 text-left">Tasks Done:</h3>
        <ol class="list-decimal pl-4 mb-4 text-left">
            <li class="p-2 text-center">Application Concept and artwork</li>
            <li class="p-2 text-center"> Database Models</li>
            <li class="p-2 text-center">Basic HTML support</li>
        </ol>
        <div class="flex items-center space-x-2 justify-center ">
            <!-- Replace these icons with your actual icons -->
<div class="flex items-center space-x-2 justify-center">
    <!-- Email icon -->
    <a href="mailto:ryan.fann@gmail.com" class="w-6 h-6 bg-blue-500 rounded-full flex items-center justify-center text-white">
        <i class="fas fa-envelope"></i>
    </a>

    <!-- GitHub icon -->
    <a href="https://github.com/8BitGinger" class="w-6 h-6 bg-green-500 rounded-full flex items-center justify-center text-white">
        <i class="fab fa-github"></i>
    </a>
</div>

        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel1').owlCarousel({
                items: 2,
                loop: true,
                margin: 10,
                nav: true,
            });
        });

 $(document).ready(function(){
        var owlOptions = {
            nav: true
        };

        // Initialize Owl Carousel with different options based on screen size
        if ($(window).width() < 768) {
            owlOptions.items = 1;  // Display one item on small screens
        } else {
            owlOptions.items = 3;  // Display four items on larger screens
        }

        $('.carousel2').owlCarousel(owlOptions);

        // Update Owl Carousel options on window resize
        $(window).resize(function(){
            if ($(window).width() < 768) {
                owlOptions.items = 1;
            } else {
                owlOptions.items = 3;
            }

            $('.carousel2').owlCarousel('destroy').owlCarousel(owlOptions);
        });
    });

 $(document).ready(function(){
        var owlOptions = {
            margin: 10,
            nav: true,
        };

        // Initialize Owl Carousel with different options based on screen size
        if ($(window).width() < 768) {
            owlOptions.items = 1;  // Display one item on small screens
        } else {
            owlOptions.items = 4;  // Display four items on larger screens
        }

        $('.carousel3').owlCarousel(owlOptions);

        // Update Owl Carousel options on window resize
        $(window).resize(function(){
            if ($(window).width() < 768) {
                owlOptions.items = 1;
            } else {
                owlOptions.items = 4;
            }

            $('.carousel3').owlCarousel('destroy').owlCarousel(owlOptions);
        });
    });


    $(document).ready(function(){
        var owlOptions = {
            loop: true,
            margin: 10,
            nav: true,
        };

        // Initialize Owl Carousel with different options based on screen size
        if ($(window).width() < 768) {
            owlOptions.items = 1;  // Display one item on small screens
        } else {
            owlOptions.items = 2;  // Display four items on larger screens
        }

        $('.carousel4').owlCarousel(owlOptions);

        // Update Owl Carousel options on window resize
        $(window).resize(function(){
            if ($(window).width() < 768) {
                owlOptions.items = 1;
            } else {
                owlOptions.items = 2;
            }

            $('.carousel4').owlCarousel('destroy').owlCarousel(owlOptions);
        });
    });
    </script>
    <!--This is the front end Javascript-->
    <script src="./js/index.js"></script>